
a{
    color: violet;
}

.main > li> a {
    color: green;
}


.style2 {
    list-style-type: square;
}


.style8 {
   list-style-image: url("li (3).svg");
}


ul ul {
    list-style-type: none;
}


ul > li:last-child a {
    text-decoration: none;
}
