
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
}

label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    height: 100px;
    resize: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 49%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #6c757d;
}

button[type="reset"]:hover {
    background-color: #5a6268;
}

.bg-color {
    color: #333;
}

p {
    margin: 0;
}

select {
    padding: 8px;
}

input[type="file"] {
    padding: 10px;
}


fieldset:last-child {
    display: flex;

}

    fieldset:last-child {
        flex-direction: column;
    }

